In [333]:
import numpy as np
import pandas as pd
from sklearn import *
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [334]:
data = pd.read_csv('finance_train80.csv')
data.head(10)

     autodiscover.chilipines.com  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8
0         chilipines.azpeitia.mx  0    0    0    0    0    0    0    0    0
1                 chilipines.com  0    0    0    0    0    0    0    0    0
2          cpanel.chilipines.com  0    0    0    0    0    0    0    0    0
3            mail.chilipines.com  0    0    0    0    0    0    0    0    0
4      mudanzasperez.azpeitia.mx  0    0    0    0    0    0    0    0    0
5         webdisk.chilipines.com  0    0    0    0    0    0    0    0    0
6         webmail.chilipines.com  0    0    0    0    0    0    0    0    0
7     www.chilipines.azpeitia.mx  0    0    0    0    0    0    0    0    0
8             www.chilipines.com  0    0    0    0    0    0    0    0    0
9  www.mudanzasperez.azpeitia.mx  0    0    0    0    0    0    0    0    0

In [335]:
data.rename(columns = {'autodiscover.chilipines.com':'domains', '0':'weird_symbols_flag',
                              '0.1':'dots_5numbers_flag', '0.2': 'ip_flag', '0.3':'weird_word_flag',
                       '0.4': 'length', '0.5':'num_flag', '0.6': 'num_nosplit_flag',
                      '0.7':'defis_2number_flag', '0.8':'Result'}, inplace = True)

In [336]:
data.head(10)

,domains,weird_symbols_flag,dots_5numbers_flag,ip_flag,weird_word_flag,length,num_flag,num_nosplit_flag,defis_2number_flag,Result
0,chilipines.azpeitia.mx,0,0,0,0,0,0,0,0,0
1,chilipines.com,0,0,0,0,0,0,0,0,0
2,cpanel.chilipines.com,0,0,0,0,0,0,0,0,0
3,mail.chilipines.com,0,0,0,0,0,0,0,0,0
4,mudanzasperez.azpeitia.mx,0,0,0,0,0,0,0,0,0
5,webdisk.chilipines.com,0,0,0,0,0,0,0,0,0
6,webmail.chilipines.com,0,0,0,0,0,0,0,0,0
7,www.chilipines.azpeitia.mx,0,0,0,0,0,0,0,0,0
8,www.chilipines.com,0,0,0,0,0,0,0,0,0
9,www.mudanzasperez.azpeitia.mx,0,0,0,0,0,0,0,0,0

In [337]:
targets = data['Result']

In [338]:
data.drop('Result', axis=1, inplace=True)
data.drop('domains', axis=1, inplace=True)

In [339]:
data.head()

,weird_symbols_flag,dots_5numbers_flag,ip_flag,weird_word_flag,length,num_flag,num_nosplit_flag,defis_2number_flag
0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0

# Test and Train data Logistic Regression

In [340]:
training_inputs = data[:2000]
training_outputs = targets[:2000] 
testing_inputs = data[2000:]
testing_outputs = targets[2000:]

In [341]:
classifier = LogisticRegression()

In [342]:
classifier.fit(training_inputs, training_outputs)

LogisticRegression()

In [343]:
predictions = classifier.predict(testing_inputs)

In [344]:
accuracy = 100.0 * accuracy_score(testing_outputs, predictions)
print ("The accuracy of your Logistic Regression on testing data is: " + str(accuracy))

The accuracy of your Logistic Regression on testing data is: 99.55542828506998

# Finding Intercept and Coeficient

In [345]:
classifier.intercept_

array([-4.72063096])

In [346]:
feature_name = data.columns.values

In [347]:
summary_table = pd.DataFrame(columns =['Feature name'], data = feature_name)
summary_table['Coeficient']=np.transpose(reg.coef_)

In [348]:
summary_table
# the most importsnt feature that detect the fishing accounts are 
#dots_5numbers_flag - in domain there are more than 5 dots
#length - the lengh of the domain is more or equalls 40 symbolls
#num_nosplit_flag - there are less than 20 numbers, goes one by one in the domain
# defis_2number_flag -contains more or equalls 3 '-' in domain

         Feature name  Coeficient
0  weird_symbols_flag    0.000000
1  dots_5numbers_flag    6.960125
2             ip_flag    0.404454
3     weird_word_flag    0.000000
4              length    9.466713
5            num_flag    0.056103
6    num_nosplit_flag   11.143219
7  defis_2number_flag    9.547253

In [349]:
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept', reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

         Feature name  Coeficient
0           Intercept   -6.125186
1  weird_symbols_flag    0.000000
2  dots_5numbers_flag    6.960125
3             ip_flag    0.404454
4     weird_word_flag    0.000000
5              length    9.466713
6            num_flag    0.056103
7    num_nosplit_flag   11.143219
8  defis_2number_flag    9.547253

# Predicting Rest of the Data

In [350]:
data_to_predict1 = pd.read_csv('finance_test20.csv')

In [351]:
data_to_predict = pd.read_csv('finance_test20.csv')

In [352]:
data_to_predict.head()

             www.beachsidemn.com  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7
0  autodiscover.hailstone.org.uk  0    0    0    0    0    0    0    0
1        cpanel.hailstone.org.uk  0    0    0    0    0    0    0    0
2               hailstone.org.uk  0    0    0    0    0    0    0    0
3          mail.hailstone.org.uk  0    0    0    0    0    0    0    0
4       webdisk.hailstone.org.uk  0    0    0    0    0    0    0    0

In [353]:
data_to_predict.rename(columns = {'www.beachsidemn.com':'domains', '0':'weird_symbols_flag',
                              '0.1':'dots_5numbers_flag', '0.2': 'ip_flag', '0.3':'weird_word_flag',
                       '0.4': 'length', '0.5':'num_flag', '0.6': 'num_nosplit_flag',
                      '0.7':'defis_2number_flag'}, inplace = True)

In [354]:
data_to_predict.drop('domains', axis=1, inplace=True)

In [355]:
prediction = classifier.predict(data_to_predict)

In [1]:
print(metrics.classification_report(prediction, ytest))

NameError: name 'metrics' is not defined

In [356]:
fishing = pd.DataFrame(columns =['Fishing Account'], data = prediction)

In [357]:
data_to_predict1.columns

Index(['www.beachsidemn.com', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6',
       '0.7'],
      dtype='object')

In [358]:
data_to_predict1.rename(columns = {'www.beachsidemn.com':'domains', '0':'weird_symbols_flag',
                              '0.1':'dots_5numbers_flag', '0.2': 'ip_flag', '0.3':'weird_word_flag',
                       '0.4': 'length', '0.5':'num_flag', '0.6': 'num_nosplit_flag',
                      '0.7':'defis_2number_flag'}, inplace = True)

In [359]:
data_to_predict1.columns

Index(['domains', 'weird_symbols_flag', 'dots_5numbers_flag', 'ip_flag',
       'weird_word_flag', 'length', 'num_flag', 'num_nosplit_flag',
       'defis_2number_flag'],
      dtype='object')

In [360]:
data_to_predict1.drop('weird_symbols_flag', axis=1, inplace=True)
data_to_predict1.drop('dots_5numbers_flag', axis=1, inplace=True)
data_to_predict1.drop('ip_flag', axis=1, inplace=True)
data_to_predict1.drop('weird_word_flag', axis=1, inplace=True)
data_to_predict1.drop('length', axis=1, inplace=True)
data_to_predict1.drop('num_flag', axis=1, inplace=True)
data_to_predict1.drop('num_nosplit_flag', axis=1, inplace=True)
data_to_predict1.drop('defis_2number_flag', axis=1, inplace=True)

In [361]:
data_to_predict1.columns

Index(['domains'], dtype='object')

In [362]:
fish_domains=pd.concat([data_to_predict1,fishing], axis = 1)

In [363]:
fish_domains.head()

                         domains  Fishing Account
0  autodiscover.hailstone.org.uk                0
1        cpanel.hailstone.org.uk                0
2               hailstone.org.uk                0
3          mail.hailstone.org.uk                0
4       webdisk.hailstone.org.uk                0

In [364]:
fish_domains.to_csv('Prediction of Fishing Domains.csv', index= False)

In [365]:
fish_domains.head(1000)

                                domains  Fishing Account
0         autodiscover.hailstone.org.uk                0
1               cpanel.hailstone.org.uk                0
2                      hailstone.org.uk                0
3                 mail.hailstone.org.uk                0
4              webdisk.hailstone.org.uk                0
..                                  ...              ...
995   cpanel.yourpersonalplumber.com.au                0
996     mail.yourpersonalplumber.com.au                0
997  webdisk.yourpersonalplumber.com.au                0
998  webmail.yourpersonalplumber.com.au                0
999      www.yourpersonalplumber.com.au                0

[1000 rows x 2 columns]